<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Choose your title :))</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            background-color: #333;
            padding: 10px 20px;
        }

        .navbar a {
            color: white;
            text-decoration: none;
            padding: 14px 20px;
        }

        .navbar a:hover {
            background-color: #575757;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="#convo">Convo</a>
        <a href="#profile" style="margin-left:auto;">Profile</a>
    </div>
    
    
    <div class="content">
    
    </div>
</body>
</html>
